
body
{
  font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
  background-image: url("/images/leaderboard_bck.png");
  
}


a
{
  text-decoration: none;
}

#jog_mmt_logo
{
  position: fixed;
  bottom: 0;
  right: 0;
}

#jog_header
{
  width: 100%;
  height: 55px;
}

#jog_header_content
{
  width: 1000px;
  height: 100%;
  margin: 0 auto;
  border: 1px solid #ccc;
  padding: 4px;
  position: relative;
}

#jog_searchbar
{
  width: 257px;
  height: 30px;
  border: 0px solid red;
  position: absolute;
  right: 120px;
  top: 13px;
}


#jog_logout
{
  position: absolute;
  right: 10px;
  top: 15px;
}

#jog_outer_container
{
  width: 1024px;
  height: auto;
  border: 1px solid #d6d6d6;
  border-radius: 5px;
  margin: 0 auto;
  margin-top: 100px;
  -moz-box-shadow: 0 0 5px #888;
  -webkit-box-shadow: 0 0 5px#888;
  box-shadow: 0 0 5px #888;  
  position: relative;
  background-image: url("/images/body_bck.png");
}

#jog_metric_box
{
  width: 1001px;
  height: 38px;
  background-image: url("/images/metric_box.png");
  margin: 0 auto;
  position: relative;
}

#jog_mmt_msg1
{
  position: absolute;
  right: 42px;
  top: 12px;
}


#jog_main_container
{
  width: 1001px;
  margin-top: 20px;
  margin: 0 auto;
  background-image: url("/images/leaderboard_bck.png");
  padding-top: 40px;
  -moz-box-shadow: 0 0 5px #888;
  -webkit-box-shadow: 0 0 5px#888;
  box-shadow: 0 0 5px #888;  
  position: relative;
  border-radius: 0 0 8px 8px;
}

#jog_container_header
{
  width: 100%;
  height: 63px;
  background-image: url("/images/header_bck.png");
  margin-bottom: 30px;
}


#jog_user_profile_data
{
  width: 59%;
  height: 100px;
  border: 1px solid #CCC;
  margin: 14px 0 0 375px;
  position: relative;
  background: #EEE9E9;
  padding: 4px;
  border-radius: 7px;
}

#jog_user_profile_img 
{
  position: absolute;
  left: 15px;
  top: 15px;
}

#jog_user_profile_img img
{
  height: 80px;
}

#jog_user_profile_name
{
  position: absolute;
  left: 151px;
  top: 35px;
  font-size: 24px;
  font-weight: bold;
}

#jog_user_profile_post_count
{
  position: absolute;
  right: 14px;
  top: 28px;
  height: 21px;
  border: 1px solid #CCC;
  border-radius: 4px;
  padding: 13px;
  text-align: center; 
  background: navajoWhite;
}

#jog_user_profile_post_count span
{
  font-size: 18px;
  font-weight: bold;
}


#jog_data_container
{
  width: 98%;
  height: auto;
  display: inline-block;
  margin: 10px 0 0 10px;

}

#jog_data_container #jog_leader_board_side_panel
{
  float:left;
  width: 300px;
  border: 1px solid #ccc;
  margin-top: -120px;
  padding: 2px;
  border-radius: 8px;
}


#jog_data_container #jog_data_panel
{
  float:left;
  width: 600px;
  border: 0px solid green;
  margin-left: 60px;
}






/** IN FancyBox **/
#jog_invite_user_for_signup
{
  display: none;
  font-weight: bold;
  width: 600px;
  height: 200px;
  padding: 15px;
  text-align: center;
  position: relative;
  background: #fff;
 }

#jog_invite_user_for_signup h4
{
  font-size: 22px;
  margin: 10px 0 10px 0;
}
#jog_invite_user_for_signup h5
{
  font-size: 20px;
  margin: 5px 0 20px 0;
}

#jog_invite_mmt_logo
{
  position: absolute;
  bottom: 0;
  right: 0;
}

#jog_invite_redirect
{
  position: absolute;
  right: 240px;
  padding: 8px;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: #7BD03F;
  color: #fff;

}

#jog_detail_post_view_modal
{
  display:none;
}