html {
  height: 100%;
}
body
{
  font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
  background-image: url("/images/leaderboard_bck.png");
  margin: 0;
  padding: 0;
  height: 100%;
  
}
@font-face 
{
  font-family: 'MyWebFont1';
  src: url('/resources/Avgardn.ttf')  format('truetype');
}

@font-face 
{
  font-family: 'MyWebFont2';
  src: url('/resources/BORDOH.ttf')  format('truetype');
}


a
{
  text-decoration: none;
}
#jog_fconnect
{
  background-image: url("/resources/fconnect.png");
  width: 221px;
  height: 57px;
  margin: 0 auto;
}

#jog_mmt_logo
{
  position: fixed;
  bottom: 0;
  right: 0;
}

#jog_header
{
  width: 100%;
  height: 55px;
}

#jog_header_content
{
  width: 100%;
  height: 50px;
  margin: 0 auto;
  padding: 4px;
  position: relative;
}

#jog_searchbar
{
  width: 257px;
  height: 30px;
  border: 0px solid red;
  position: absolute;
  right: 120px;
  top: 13px;
}

#jog_home
{
  position: absolute;
  left: 10px;
  top: 15px; 
}

#jog_logout
{
  position: absolute;
  right: 10px;
  top: 15px;
}

#jog_outer_container
{
  /* changed here */
  width: 1024px;
  width: 900px;
  height: auto;
  border: 1px solid #d6d6d6;
  border-radius: 5px;
  margin: 0 auto;
  -moz-box-shadow: 0 0 5px #888;
  -webkit-box-shadow: 0 0 5px#888;
  box-shadow: 0 0 5px #888;  
  position: relative;
  
  background-color: rgba(153,205,226,0.6);
  
  padding-bottom: 14px;

}

#jog_outest_container
{
  width: 900px;
  height: auto;
  margin: 0 auto;
  position: relative;
  background-image: url("/images/silver_scales.png");
}

#jog_metric_box
{
  /*
  changed here
  width: 1001px;
  */
  width: 880px;
  height: 38px;
  background-image: url("/images/metric_box.png");
  margin: 0 auto;
  position: relative;
  margin-bottom: 3px;
  font-family: "MyWebFont1";
}

#jog_user_metric
{
  width: 395px;
  height: 24px;
  position: absolute;
  left: 15px;
  top: 8px;
  color: #333;
  font-size: 27px;
}

#jog_mmt_msg1
{
  position: absolute;
  right: 42px;
  top: 12px;
  font-family: "MyWebFont1";
  font-size: 23px;
  color: #333;
  letter-spacing: 1px;
}


#jog_main_container
{
  width: 1001px;
  width: 880px;
  margin-top: 20px;
  margin: 0 auto;
  background-image: url("/images/leaderboard_bck.png");
  padding-top: 8px;
  -moz-box-shadow: 0 0 5px #888;
  -webkit-box-shadow: 0 0 5px#888;
  box-shadow: 0 0 5px #888;  
  position: relative;
  border-radius: 0 0 8px 8px;
}

#jog_container_header
{
  width: 100%;
  height: 63px;
  background-image: url("/images/header_bck.png");
  margin-bottom: 30px;
  margin-top: -5px;
}


#jog_user_profile_data
{
  width: 59%;
  height: 100px;
  border: 1px solid #CCC;
  margin: 14px 0 0 375px;
  position: relative;
  background: #EEE9E9;
  padding: 4px;
  border-radius: 7px;
}

#jog_user_profile_img 
{
  position: absolute;
  left: 15px;
  top: 15px;
}

#jog_user_profile_img img
{
  height: 80px;
}

#jog_user_profile_name
{
  position: absolute;
  left: 151px;
  top: 35px;
  font-size: 24px;
  font-weight: bold;
}

#jog_user_profile_post_count
{
  position: absolute;
  right: 14px;
  top: 28px;
  height: 21px;
  border: 1px solid #CCC;
  border-radius: 4px;
  padding: 13px;
  text-align: center; 
  background: navajoWhite;
}

#jog_user_profile_post_count span
{
  font-size: 18px;
  font-weight: bold;
}


#jog_data_container
{
  width: 98%;
  height: auto;
  display: inline-block;
  margin: 10px 0 0 10px;

}

#jog_data_container #jog_leader_board_side_panel
{
  float:left;
  width: 342px;
  border: 0px solid #ccc;
  padding: 2px;
  border-radius: 8px;
  position: relative;
}


#jog_data_container #jog_data_panel
{
  float:left;
  width: 600px;
  width: 490px;
  border: 0px solid green;
  margin-left: 17px;
  margin-top: 56px;
}






/** IN FancyBox **/
#jog_invite_user_for_signup
{
  display: none;
  font-weight: bold;
  width: 600px;
  height: 200px;
  padding: 15px;
  text-align: center;
  position: relative;
  background: #fff;
 }

#jog_invite_user_for_signup h4
{
  font-size: 22px;
  margin: 10px 0 10px 0;
}
#jog_invite_user_for_signup h5
{
  font-size: 20px;
  margin: 5px 0 20px 0;
}

#jog_invite_mmt_logo
{
  position: absolute;
  bottom: 0;
  right: 0;
}

#jog_invite_redirect
{
  position: absolute;
  right: 240px;
  padding: 8px;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: #7BD03F;
  color: #fff;

}

#jog_detail_post_view_modal
{
  display:none;
}

#jog_double_vote_msg
{
  display: none;
}

#jog_double_vote_msg span
{
  font-size: 13px;
  color: #333;
  text-shadow: 0px 1px 1px #666;
}




/* VERSION 2 */
#jog_header_v2
{
  height: 60px;
  border: 0px solid red;
  position: relative;
  width: 100%;
  margin-bottom: 30px;

}

#jog_header_v2_img
{
  width: 86%;
  background: rgba(256, 256, 256, 0.6);
  background: #d4e3ea;
  position: absolute;
  left: 0px;
  height: 60px;
}
#jog_header_img
{
  position: absolute;
  top: 5px;
  left: 10px;
}

#jog_mmt_logo_v2
{
  position: absolute;
  right: 11px;
  top: 5px;
}

#jog_user_info_v2
{
  width: 315px;
  height: 100%;
  position: absolute;
  right: 0px;
}

#jog_user_profile_image_v2
{
  position: absolute;
  right: 0px;
  max-height: 55px;
  padding:2px;
  background: #fff;
}

#jog_user_profile_name_v2
{
  position: absolute;
  right: 100px;
  top: 10px;
  font-weight: normal;
  font-size: 15px;
  color: #333;
  text-shadow: 0px 0px 1px #666;
}

#jog_logout_v2
{
  position: absolute;
  right: 100px;
  bottom: 5px;
  width: 57px;
  height: 21px;
  font-weight: bold;
  cursor: pointer;
  background-image: url("/images/jog_logout2.png");

}




#jog_searchbar_v2
{
  margin: 10px 0 10px 0;
  width: 354px;
  height: 54px;
  background-image: url("/images/jog_search.png");
  position: relative;
}

#jog_searchbar_v2 input
{
  position: absolute;
  top: 7px;
  left: 7px;
  width: 83%;
  height: 55%;
  border: none;
}