#jog_data_entry
{
  width: 500px;
  height: 200px;
  border: 1px solid red;
}


#jog_data_posts_list
{
  width: 600px;
  border: 0px solid red;
}


.jog_data_posts_box
{
  width: 97%;
  border: 1px solid #CCC;
  border-radius: 6px;
  margin-top: 10px;
  position: relative;
  padding: 10px;
  background: #FEFEFA;
}


.jog_data_posts_box_title
{
  cursor: pointer;
}


.jog_data_posts_box_content
{
  font-size: 13px;
  height: 200px;
  margin-top: 20px;
  line-height: 23px;
}

.jog_data_posts_box_content img
{
  max-height: 120px;
}



.jog_data_posts_box_metric
{
  position: absolute;
  bottom: 45px;
  height: 50px;
  width: 97%;
}


.jog_data_posts_box_metric_vote_action
{
  border-top-width: 1px;
  position: absolute;
  left: 5px;
  top: 4px;
  height: 20px;
  border: 1px solid #CCC;
  width: 70px;
  text-align: center;
  padding: 2px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 4px;
  background: #20B2AA;
  color: #FEFEFE;
}

.jog_data_posts_box_metric_vote_action span
{
  margin-left: 5px;

}

.jog_data_posts_box_metric_vote_count
{
  position: absolute;
  right: 5px;
  top: 4px;
  height: 22px;
  border: 1px solid #CCC;
  text-align: center;
  padding: 4px;
  border-radius: 4px;
  background: #CDBE70;
  color: white;
  font-weight: bold;
}


.jog_data_posts_box_social_share
{
  width: 98%;
  margin-top: 10px;
  height: 22px;
  border: 1px solid #DDD;
  padding: 4px;
  border-radius: 4px;
  background: white;
  display: inline-block;
}


.jog_posts_box_social_share_container
{
  width: 80px;
  float: left;
}


#jog_data_posts_leaderboard_list
{
  width: 800px;
  margin-left: 60px;
}

.jog_data_posts_leaderboard_list_box
{
  width: 97%;
  border: 1px solid #ddd;
  margin-top: 10px;
  position: relative;
  padding: 10px;
  display: inline-block;
}

.jog_data_posts_leaderboard_list_user_info
{
  width: 30%;
  height: 100px;
  border: 0px solid red;
  float: left;
}

.jog_data_posts_leaderboard_list_user_info img
{
  max-height: 70px;
}

.jog_data_posts_leaderboard_list_user_info span
{
  vertical-align: middle;
  font-size: 14px;
}



.jog_data_posts_leaderboard_list_box_content
{
  width: 65%;
  border: 0px solid green;
  float: right;
  position: relative;
}

.jog_data_posts_leaderboard_list_box_content h5
{
  height: 18px;
  font-size: 14px;
  color: #ccc;
  text-align: right;
}






#jog_detail_post_view_modal
{ 
  width: 600px;
  padding: 10px;
  margin-bottom: 20px;
}

#jog_post_detail_view_title
{
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 15px;
}

#jog_post_detail_content
{
  width: 97%;
  display: inline-block;
}

#jog_post_detail_content img
{
  display: table-cell;
  float: right;
  text-align: center;
  vertical-align: middle;
}

#jog_data_posts_detail_box_metric
{
  position: relative;
  display: block;
  height: 30px;
  margin: 20px 0 20px 0; 

}