
body
{
  font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
  background-image: url("/images/leaderboard_bck.png");
}

#jog_lp_container
{
  width: 625px;
  min-height: 100%;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.8);
  padding: 8px;
  position: relative;
  -moz-box-shadow: 0 0 5px #333
  -webkit-box-shadow: 0 0 5px#333;
  box-shadow: 0 0 5px #333;
}

#jog_lp1_msg1
{
  width: 481px;
  height: 38px;
  background-image: url("/images/the_joy_of_giving_main.png");
  margin: 0 auto;
  margin-top: 12px;
}

#jog_lp1_msg2
{
  height: 120px;
  font-family: 'MyWebFont1';
  font-size: 28px;
  color: #6D6C6A;
  margin: 0 auto;
  margin-top: 35px;
  margin-bottom: 30px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 1px;
  position: relative;
}

#jog_landing_help
{
  width: 16px;
  height: 16px;
  position: absolute;
  bottom: 4px;
  right: 126px;
  background-image: url("/images/help.png");
  cursor: pointer;

}

#jog_lp_msg3
{
  height: 15px;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 20px;
  font-size: 18px;
  text-align: center;
  font-family: Helvetica;
  color: #333;
  letter-spacing: 0.1em;
  text-shadow: 0px 1px 1px white;
}

#jog_lp_metric_count
{
  width: 100%;
  height: 22px;
  color: #6D6C6A;
  font-size: 37px;
  text-align: center;
  margin-top: 30px;
  font-family: 'MyWebFont1';
}


#jog_lp_post_list
{
  width: 580px;
  height: 241px;
  margin: auto;
  position: relative;
}




#jog_lp1_mmt_logo
{
  background-image: url("/images/vector_smart_object.png");
  width: 103px;
  height: 44px;
  position: absolute;
  right: 5px;
  bottom: 35px;
}


#jog_lp_container h4
{
  font-size: 60px;
  text-align: center;
  color: #333;
}


#jog_fconnect
{
  background-image: url("/resources/fconnect.png");
  width: 221px;
  height: 57px;
  margin: 0 auto;
}


.jog_lp_slide_container
{
  width: 325px;
  height: 228px;
  border: 1px solid blue;
}

.jog_lp_sc_name
{
  font-size: 12px;
  color: blue;
  width: 100%;
  height: 20px;
}




/* Slider Posts */

.jog_lp_sp_main_container
{
  width: 385px;
  height: 235px;
  position: relative;
  border: 0px solid white;
  position: relative;
  padding: 4px;
  /*background-image: url("/images/lp_post_outer1.png");*/
  background-image: url("/images/main_pic.png");
  background-repeat: none;
}
 
.jog_lp_sp_curl
{
  position: absolute;
  top: -5px;
  right: -3px;
}  



.jog_lp_sp_user_name
{
  width: 96%;
  height: 32px;
  margin-left: 10px;
  margin-top: 5px;
}

.jog_lp_sp_user_name h5
{ 
  font-size: 13px;
  color: #7a8fa0;
  text-shadow: 2px 1px 1px #fff;
  margin-left: 15px;
  margin-top: 12px;
}

.jog_lp_sp_ul1
{
  width: 35px;
  height: 8px;
  background-image: url("/images/ul11.png");
}

.jog_lp_sp_content
{
  width: 88%;
  height: 160px;
  border: 0px solid green;
  margin-left: 19px;
  margin-top: 20px;
}

.jog_lp_sp_leftside, .jog_lp_sp_rightside
{
  float: left;
}

.jog_lp_sp_leftside
{
  width: 40%;
  height: 100%;
  border: 0px solid black;
  position: relative;
  margin-top: 20px;
}


.jog_lp_sp_user_photo
{
  height: 100px;
  width: 100%;
}

.jog_lp_sp_user_photo img
{
  max-width: 100px;
  max-height: 100px;
  padding: 5px;
  border: 1px solid #ccc;
  background: #fff;
}

.jog_lp_sp_vote
{
  position: absolute;
  bottom: 8px;
}
.jog_lp_sp_vote_count
{
  width: auto;
  font-size: 13px;
  color: #6e6d6b;
  float: left;
  font-size: 12px;
  font-weight: bold;
  margin: -41px 3px 0px 4px;
  text-shadow: 2px 3px 2px #fff;
}

.jog_lp_sp_vote_action
{
  width: 47px;
  height: 22px;
  background-image: url("/images/vote_btn.png");
  float: left;
  cursor: pointer;
}


.jog_lp_sp_rightside
{
  width: 56%;
  height: 100%;
  border: 0px solid blue;
  margin-top: 20px;
  margin-left: 6px;
}

.jog_lp_sp_msg
{
  width: 155px;
  height: 26px;
  color: #333;
  font-weight: bold;
}

.jog_lp_sp_text
{
  width: 100%;
  height: 85px;
  border: 0px solid black;
  color: #333C41;
  font-size: 11px;
  font-weight: normal;
  text-shadow: 1px 1px 1px #fff;
}

.jog_lp_sp_by
{
  width: 100%;
  height: 16px;
}

.jog_lp_sp_divider
{
  width: 330px;
  height: 9px;
  margin: 0 auto;
  background-image: url("/images/lb_divider.png");
}

#jog_lp_sp_view_all
{
  position: absolute;
  top: 18px;
  right: 12px;
  font-weight: bold;
  color: #8497A8;
}

#jog_help_window
{
  display: none;
  width: 600px;
  height: 400px;
  font-size: 14px;
  text-align: left;
  font-family: Helvetica;
}
#jog_help_window h3
{
font-size: 22px;  
text-align: center;
}
#jog_help_window h5
{
  text-align: left;
  margin: 5px 0 5px 0;
  font-size: 14px;
  font-weight: normal;
}