
body
{
  font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
  background-image: url("/resources/bck.gif");
}

#jog_lp_container
{
  width: 1000px;
  height: 500px;
  border: 0px solid red;
  margin: 0 auto;
}

#jog_lp_container h4
{
  font-size: 60px;
  text-align: center;
  color: #333;
}

#jog_lp_container h5
{
  font-size: 26px;
  text-align: center;
  color: #333;
}




#jog_fconnect
{
  background-image: url("/resources/fconnect.png");
  width: 221px;
  height: 57px;
  margin: 0 auto;
}