#jog_data_post_entry
{
  width: 95%;
  padding: 15px;
  border: 1px solid #CCC;
  border-radius: 10px;
  background: #f4f4f4;
}


#jog_data_post_entry h3
{
  font-size: 14px;
  color: #333;
}


#jog_data_post_entry_user_view
{
  width: 100%;
  height: 100px;
  margin-bottom: 15px;
  position: relative;
  margin-top: -66px;
}
#jog_data_post_entry_user_pic
{
  position: absolute;
  top: 10px;
  left: 5px;
  max-width: 80px;
  max-height: 80px;
  padding: 3px;
  border: 1px solid #ccc;
  background: #fff;
}

#jog_data_post_entry_user_name
{
  position: absolute;
  left: 103px;
  top: 26px;
  font-size: 15px;
  color: #333;
  text-shadow: 0px 0px 1px #666;
}

#jog_data_post_entry_title
{
  width: 98%;
  height: 35px;
}

#jog_data_post_entry_text
{
  resize: none;
  width: 98%;
  height: 100px;
  margin: 0 auto;
}

.jog_data_post_entry_error
{
  font-size: 10px;
  color: #c00;
  font-weight: normal;
  display: none;
}

#jog_data_post_entry_actions
{
  width: 100%;
  height: 40px;
  margin-top: 10px;
  position: relative;
}

#jog_data_post_entry_actions button
{
  position: absolute;
  right: 0;
}


#jog_data_post_entry_attach_photo
{
  float: right;
  width: 300px;
  margin-right: 20px;
  border: 0px solid red;
  display: none;
}

#jog_data_post_entry_actions_init
{
  width: 97.5%;
  height: 30px;
  border: 1px solid #CCC;
  border-radius: 4px;
  margin-top: 8px;
  padding: 5px;
  background: white;
}

#jog_data_post_entry_actions_init_button
{
  width: 120px;
  height: 100%;
  cursor: pointer;
  float: left;
}

#jog_data_post_entry_actions_init_button img
{
  vertical-align: middle;

}

#jog_data_post_entry_actions_init_button span
{
  vertical-align: middle;
  font-weight: bold;
  color: #49AFCD;
  margin-left: 8px;
  cursor: pointer;
}



#jog_img_upload_spinner
{
  display: none;
  float: right;
}


#jog_img_upload_preview
{
  display: none;
  width: 98%;
  height: 100px;
  margin-top: 10px;
  border: 1px solid #CCC;
  border-radius: 4px;
  padding: 4px;
  position: relative;
}

#jog_img_upload_preview img
{
  max-height: 100px;
}


#jog_cancel_img_preview
{
  position: absolute;
  top: 30px;
  right: 10px;
}


#jog_data_post_entry_select_cat
{
  width: 98%;
  height: 30px;
  margin-top: 8px;
  padding: 4px;
  border: 1px solid #CCC;
  border-radius: 4px;
  background: #fff;
  position: relative;
}
#jog_data_post_entry_select_cat_val
{
  width: 230px;
  position: absolute;
  right: 4px;

}