  <!-- COMMON SCRIPTS -->
  <script src="/javascript/json/json.js" type="text/javascript"></script>
  <script src="/javascript/controller/jog_app_controller.js" type="text/javascript"></script>
  <script src="/javascript/model/jog_cache.js" type="text/javascript"></script>
  <script src="/javascript/controller/jog_search_controller.js" type="text/javascript"></script>
  <script src="/javascript/model/jog_user_list_model.js" type="text/javascript"></script>
  <script src="/javascript/model/jog_facebook_model.js" type="text/javascript"></script>
  <script src="/javascript/controller/jog_facebook_controller.js" type="text/javascript"></script>

  <script src="/javascript/controller/jog_landing_leaderboard_panel_controller.js" type="text/javascript"></script>
  <script src="/javascript/model/jog_landing_leaderboard_panel_model.js" type="text/javascript"></script>
  <script src="/javascript/view/jog_landing_leaderboard_panel_view.js" type="text/javascript"></script>




<script>

  function preload(arrayOfImages) {
    $(arrayOfImages).each(function(){
        $('<img/>')[0].src = this;
        // Alternatively you could use:
        // (new Image()).src = this;
    });
  }

  preload([
    '../images/la1.png',
    '../images/ra1.png',
    '../images/leaderboard_bck.png',
    '../images/the_joy_of_giving_main.png',
    '../images/lp_msg3.png',
    '../images/vector_smart_object.png',
    '../resources/fconnect.png',
    '../images/main_pic.png',
    '../images/vote_btn.png',
    '../images/lb_divider.png',
  
  ]);


	$.backstretch("/images/landing.png");
</script>

 <link rel="stylesheet" href="/css/landing.css" type="text/css" />
 <link rel="stylesheet" href="/css/common.css" type="text/css" />
 <link rel="stylesheet" href="/css/plugins/slider.css" type="text/css" />

 <div id="jog_lp_container">
 	<div id="jog_lp1_msg1"></div>
 	<div id="jog_lp1_msg2">
        Giving Goes Social - Celebrate the <br/>
        Joy of Giving week (Oct 2 - Oct 8, 2012),<br/> 
        with over 4 lakhs MakeMyTrip fans <br/>
        Give, Post, Vote, Inspire
        <div id="jog_landing_help"></div>
  </div>	
 	<a href="<%= user_omniauth_authorize_path(:facebook) %>">
    	<div id="jog_fconnect"></div>
    </a>
    <div id="jog_lp_metric_count"></div>
    <div id="jog_lp_msg3">Share your Joy of Giving and win exciting vouchers</div>
    <div id="jog_lp_post_list">
    	<div id="slides">
			<div class="slides_container"></div>
			<div id="jog_lp_slide_prev"><img src="/images/la1.png" width="53" height="66" alt="Arrow Prev"></div>
			<div id="jog_lp_slide_next"><img src="/images/ra1.png" width="53" height="66" alt="Arrow Next"></div>
			<a href="<%= AppConstants.server_base %>/all_posts"><div id="jog_lp_sp_view_all">View All</div></a>	
		</div>

    </div>	
    <div id="jog_lp1_mmt_logo"></div>
 </div>

 
<div id="jog_help_window">
<h3>How to participate..as simple as 1,2,3....Go.</h3>
<h5>1. Tell us about your act of goodness.</h5>
<h5>2. Get your friends to vote for you. Gather as many votes as you can to climb up the leaderboard.</h5>
<h5>3. At the end of each day, the participant who gets to the top of the leaderboard with maximum votes will get their story published on the Facebook Page of MakeMyTrip.com and receive a gift voucher.<br/>
Participant with maximum points towards the end of the contest will be rewarded a MakeMyTrip voucher worth Rs 10,000.</h5>
<h5>4. You can upload as many entries as you want. The key is to get support of your friends and family for your act of goodness.
<h5>5. Contest Period: From 11 am, 2nd October 2012 until midnight, 8th October 2012.</h5>
<h5>6. For further queries, message us on our Facebook Page ( www.facebook.com/makemytrip)</h5>
</div>
