  <!-- COMMON SCRIPTS -->
  <script src="/javascript/json/json.js" type="text/javascript"></script>
  <script src="/javascript/controller/jog_app_controller.js" type="text/javascript"></script>
  <script src="/javascript/model/jog_cache.js" type="text/javascript"></script>
  <script src="/javascript/controller/jog_search_controller.js" type="text/javascript"></script>
  <script src="/javascript/model/jog_user_list_model.js" type="text/javascript"></script>
  <script src="/javascript/model/jog_facebook_model.js" type="text/javascript"></script>
  <script src="/javascript/controller/jog_facebook_controller.js" type="text/javascript"></script>

  <script src="/javascript/controller/jog_landing_leaderboard_panel_controller.js" type="text/javascript"></script>
  <script src="/javascript/model/jog_landing_leaderboard_panel_model.js" type="text/javascript"></script>
  <script src="/javascript/view/jog_landing_leaderboard_panel_view.js" type="text/javascript"></script>




<script>

  function preload(arrayOfImages) {
    $(arrayOfImages).each(function(){
        $('<img/>')[0].src = this;
        // Alternatively you could use:
        // (new Image()).src = this;
    });
  }

  preload([
    '../images/arrow-next.png',
    '../images/arrow-prev.png',
    '../images/landing.png',
    '../images/lp_msg1.png',
    '../images/lp_msg2.png',
    '../images/lp_msg3.png',  
    '../images/the_joy_of_giving',
  ]);


	$.backstretch("/images/landing.png");
</script>

 <link rel="stylesheet" href="/css/landing.css" type="text/css" />
 <link rel="stylesheet" href="/css/common.css" type="text/css" />
 <link rel="stylesheet" href="/css/plugins/slider.css" type="text/css" />

 <div id="jog_lp_container">
 	<div id="jog_lp1_msg1"></div>
 	<div id="jog_lp1_msg2">Giving Goes Social - Celebrate the Joy of Giving week (Oct 2 - Oct 8, 2012), with over 4 lakhs MakeMyTrip fans Give, Post, Vote, Inspire</div>	
 	<a href="<%= user_omniauth_authorize_path(:facebook) %>">
    	<div id="jog_fconnect"></div>
    </a>
    <div id="jog_lp_metric_count"></div>
    <div id="jog_lp_msg3"></div>
    <div id="jog_lp_post_list">
    	<div id="slides">
			<div class="slides_container"></div>
			<div id="jog_lp_slide_prev"><img src="/images/la1.png" width="53" height="66" alt="Arrow Prev"></div>
			<div id="jog_lp_slide_next"><img src="/images/ra1.png" width="53" height="66" alt="Arrow Next"></div>
			<a href="<%= AppConstants.server_base %>/leaderboard"><div id="jog_lp_sp_view_all">View All</div></a>	
		</div>

    </div>	
    <div id="jog_lp1_mmt_logo"></div>
 </div>

 
