  <script>
    $.backstretch("https://s3.amazonaws.com/jogw/landing.png");
  </script>
  <!-- COMMON SCRIPTS -->
  <script src="/javascript/json/json.js" type="text/javascript"></script>
  <script src="/javascript/controller/jog_app_controller.js" type="text/javascript"></script>
  <script src="/javascript/model/jog_cache.js" type="text/javascript"></script>
  <script src="/javascript/controller/jog_search_controller.js" type="text/javascript"></script>
  <script src="/javascript/model/jog_user_list_model.js" type="text/javascript"></script>
  <script src="/javascript/model/jog_facebook_model.js" type="text/javascript"></script>
  <script src="/javascript/controller/jog_facebook_controller.js" type="text/javascript"></script>

  <script src="/javascript/controller/jog_landing_leaderboard_panel_controller.js" type="text/javascript"></script>
  <script src="/javascript/model/jog_landing_leaderboard_panel_model.js" type="text/javascript"></script>
  <script src="/javascript/view/jog_landing_leaderboard_panel_view.js" type="text/javascript"></script>




<script>

  function preload(arrayOfImages) {
    $(arrayOfImages).each(function(){
        $('<img/>')[0].src = this;
        // Alternatively you could use:
        // (new Image()).src = this;
    });
  }
  preload([
    'https://s3.amazonaws.com/jogw/landing.png',
    '../images/landing.png',
    '../images/la1.png',
    '../images/ra1.png',
    '../images/leaderboard_bck.png',
    '../images/the_joy_of_giving_main.png',
    '../images/lp_msg3.png',
    '../images/vector_smart_object.png',
    '../resources/fconnect.png',
    '../images/main_pic.png',
    '../images/vote_btn.png',
    '../images/lb_divider.png',
  
  ]);


	
</script>

 <link rel="stylesheet" href="/css/landing.css" type="text/css" />
 <link rel="stylesheet" href="/css/common.css" type="text/css" />
 <link rel="stylesheet" href="/css/plugins/slider.css" type="text/css" />

 <div id="jog_lp_container">
 	<div id="jog_lp1_msg1"></div>
 	<div id="jog_lp1_msg2">
        Giving Goes Social - Celebrate the <br/>
        Joy of Giving week (Oct 2 - Oct 8, 2012),<br/> 
        with over 4 lakhs MakeMyTrip fans <br/>
        Give, Post, Vote, Inspire
        <div id="jog_landing_help" class="enableTipsy" original-title="How to participate"></div>
  </div>	
 	<a id="jog_fb_auto_login" href="<%= user_omniauth_authorize_path(:facebook) %>">
    	<div id="jog_fconnect"></div>
    </a>
    <div id="jog_lp_metric_count"></div>
    <div id="jog_lp_msg3">Share your Joy of Giving and win exciting vouchers</div>
    <div id="jog_lp_post_list">
    	<div id="slides">
			<div class="slides_container"></div>
			<div id="jog_lp_slide_prev"><img src="/images/la1.png" width="53" height="66" alt="Arrow Prev"></div>
			<div id="jog_lp_slide_next"><img src="/images/ra1.png" width="53" height="66" alt="Arrow Next"></div>
			<a href="<%= AppConstants.server_base %>/all_posts"><div id="jog_lp_sp_view_all">View All</div></a>	
		</div>

    </div>	
    <div id="jog_lp1_mmt_logo"></div>
    <div id="jog_tnc_click"> Terms and Conditions</div>
 </div>

 
<div id="jog_help_window">
<h3>How to participate..as simple as 1,2,3....Go.</h3>
<ol>
<li>Tell us about your act of goodness.</h5>
</li><li><h5>Get your friends to vote for you. Gather as many votes as you can to climb up the leaderboard.</h5>
</li><li><h5>At the end of each day, the participant who gets to the top of the leaderboard with maximum votes will get their story published on the Facebook Page of MakeMyTrip.com and receive a gift voucher.<br/>
Participant with maximum points towards the end of the contest will be rewarded a MakeMyTrip voucher worth Rs 10,000.</h5>
</li><li><h5>You can upload as many entries as you want. The key is to get support of your friends and family for your act of goodness.
</li><li><h5>Contest Period: From 11 am, 2nd October 2012 until midnight, 8th October 2012.</h5>
</li><li><h5>For further queries, message us on our Facebook Page (<a target="_blank" href="http://www.facebook.com/makemytrip">www.facebook.com/makemytrip</a>)</h5></li>
</ol>
<div id="jog_lp1_mmt_logo"></div>
</div>



<div id="jog_tnc_window">
<h3>Terms and Conditions.</h3>
<ul>
</li><li>The contest shall be valid between 11am,2nd October 2012 until midnight, 8th October 2012.
</li><li>By entering into the Contest, entrants are deemed to have accepted the Contest Rules.
</li><li>The validity of the prize is till 8th November 2012
</li><li>Daily Reward: A featured post on the participant’s story on MakeMyTrip Facebook page and a gift voucher.
</li><li>By accepting the terms and conditions, participants consent MakeMyTrip.com to publish their stories on the community page without prior approval.
</li><li>Grand Prize : MakeMyTrip  Voucher worth Rs 10000 that can be redeemed for any airline and hotel bookings through MakeMyTrip.com across India.
</li><li>Winner of the contest will be announced on _9th October 2012__and shall be informed about the prizes by MakeMyTrip or their representative within _24hrs from the date of announcement of the winner.
</li><li>Grand Prize will be awarded in the form of  evoucher code sent to winners email address.
</li><li>No other offer/discount/offer of MakeMyTrip is valid and cannot be clubbed with the offer/discount/package being given as prize.
</li><li>Entries to the Contest is valid for Indian nationals aged 18 years and above residing in India and does not include NRIs 
</li><li>The winners shall also be contacted by the contact details provided by the participants. MakeMyTrip shall not be liable in any manner whatsoever for any participant who cannot be contacted due to insufficient/incorrect contact details.The database of mobile numbers provided by participants may be used by MakeMyTrip in future for any lawful purpose as deemed fit by MakeMyTrip and participants/winners agrees and acknowledges the same.
</li><li>Prize under the contest is non-transferable and non-substitutable and under no circumstances will be replaced with cash.
</li><li>Prize will be subject to Indian laws, including tax regulation as and when applicable. The Octroi Charges and TDS, if applicable on any prize, will have to borne by the winner. Processing Charges, Accommodation Expenses, Visa Expenses, Airport and other taxes, Passenger Service Charges, Airline Failure Insurance and other surcharges levied by the airline or travel organizer and any other taxes/ charges, as applicable, are payable by the Winners.
</li><li>Winners will have to provide necessary ID proof before receiving the prize. MakeMyTrip may not disburse the prize if MakeMyTrip suspects the ID.
</li><li>The prize winner shall execute all such documentation as deemed necessary by MakeMyTrip to allow MakeMyTrip and their assigns to use, display, copy, modify, distribute, publish, sell, assign, exchange, license, sub-license, in any and all locations, in any medium, form or format, in any number, the picture, image or likeness and the reproductions of the winner, and any biographical information furnished by the winner to MakeMyTrip
</li><li>MakeMyTrip reserves the right to terminate, modify or extend the prize and the terms and conditions of the prize at any time without prior notice at its absolute discretion and without assigning any reason.
</li><li>This offer is being made purely on a "best effort" basis. This offer/prize cannot be clubbed with any other offer/ offers.
</li><li>MakeMyTrip shall not be liable for any loss, damage or personal injury whatsoever that may be suffered as a result of participating in this contest.
</li><li>MakeMyTrip does not warranty or guaranty the quality or merchantability of the Prize
</li><li>The images of the prizes depicted in all forms of communication of the contest are indicative in nature and does not reflect the actual nature of the prize.
</li><li>Apart from entitlement to the prize, the winners or their legal heirs and representatives shall have no rights, claims whatsoever against MakeMyTrip 
</li><li>In case of any dispute or difference in respect of or in connection with the Offer and/or the prizes therein, the decision of MakeMyTrip shall be final and binding on all concerned and no correspondence or appeals will be entertained in this regard.
</li><li>Unless otherwise indicated, MakeMyTrip shall deem any information voluntarily supplied during the course of the Offer/program and/or personal information provided by the participants as non-confidential, which hereby discharges all obligations of confidentiality. MakeMyTrip shall be free to reproduce, use, disclose and distribute the information for its use to third parties without limitation.
</li><li>Any disputes arising out of or in relation to the Offer shall be subjected to the exclusive jurisdiction of the courts of New Delhi only.
</li><li>MakeMyTrip shall not be liable for any direct indirect, consequential, incidental loss, damage or injury suffered by the winner or winners companion while availing the prize. 
</li><li id="tnc_mmt_logo"><img src="/images/vector_smart_object.png"></li>
</div>
