<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<style type="text/css">
<!--
.Container {
  background-image: url(/Image/shutterstock_92701609.jpg);
  background-repeat: no-repeat;
  width: 760px;
  height: 650px;
  margin:0px auto;
}
.Text1{
  font-family:"Arial Rounded MT Bold", "Arial Black", Arial;
  font-size:55px;
  color:#3f769d;
  text-shadow: 0px 1px 1px #000;
  line-height:70px;
}
.Text{
  font-family:"Arial Rounded MT Bold", "Arial Black", Arial;
  font-size:20px;
  color:#7a7c7d;
  line-height:20px;
}
\
-->
</style>
<title>Joy Of Giving</title></head>


<body style="background-color:#fff; margin:0; padding:0px;">
<div class="Container">
  <div class="Text1">oops, The Contest is Over :( </div>
  <div class="Text">Thanks for your participation. Incase you missed out, we will be back soon with another outstanding contest. </div>
</div>

<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-35244982-1']);
  _gaq.push(['_setDomainName', 'herokuapp.com']);
  _gaq.push(['_setAllowLinker', true]);
  _gaq.push(['_trackPageview']);
 

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

</body>
</html>
